Source: qmenumodel-qml
Section: libs
Priority: optional
Maintainer: Renato Araujo Oliveira Filho <renato@canonical.com>
Build-Depends: debhelper (>= 7.0.50~),
               libqt4-dev,
               cdbs,
               cmake,
               libglib2.0-dev,
               dbus-test-runner,
               lcov,
               zip
Standards-Version: 3.9.2

Package: qmenumodel-qml
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: QML bindings for GMenuModel
