Source: qmenumodel
Section: libs
Priority: optional
Maintainer: Renato Araujo Oliveira Filho <renato@canonical.com>
Build-Depends: debhelper (>= 8.0.0),
               cdbs,
               cmake,
               libglib2.0-dev,
               libqt4-dev,
Standards-Version: 3.9.2

Package: qmenumodel-qml
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: QML bindings for GMenuModel

