#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

override_dh_auto_configure:
	PATH=/opt/qt5/bin:${PATH} dh_auto_configure

override_dh_makeshlibs:
	dh_makeshlibs -Xlibqmenumodel-qml.so

%:
	dh $@ --parallel

